<p id="notice"><%= notice %></p>

<div class="physician">
  <h2>
      <%= @physician.name %>
  </h2>
  <h3>
      Specialty:
      <%= @physician.specialty %>
  </h3>
</div>
<hr>

<h3>Office Locations</h3>
<div class="location-table">
    <table class="blueTable">
        <% @physician.offices.each do |offices| %>
          <tr>
              <th>Street Address</th>
              <th>Zip Code</th>
              <th>Phone</th>
          </tr>
          <tr>
              <td><%= offices.street_address %></td>
              <td><%= offices.zip %></td>
              <td><%= offices.phone %></td>
          </tr>
        <% end %>
    </table>
</div>        

<h3>Current Appointments</h3>
<div class="location-table">
    <table class="blueTable">
          
          <tr>
              <th>Patient Name</th>
              <th>Date of Appointment</th>
          </tr>
          <tr>
            <% @appointments.appointments.each do |appointments| %>
              <td><%= appointments.patient %></td>
            <% end %>  
            <% @physician.appointments.each do |appointments| %>
              <td><%= appointments.visit %></td>
            <% end %> 
          </tr> 
        
    </table>
</div>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
